
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
	margin: 0;
	font-family: "Poppins", sans-serif;
	transition-duration: 500ms;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}
p{
	margin: 0;
}
.choice-btn a:hover,.middle-right a:hover,.canvas-btn a:hover,.check-btn a:first-child:hover{
	background: #f2b90a;
}
.style-box a{
	color: #7c7c7c;
}
*{
	box-sizing: border-box;
}
.container{
	float: left;
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
}
img{
	max-width: 100%;
}
.row{
	max-width: 1360px;
	margin: 0 auto;
}
ul,li{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	display: inline-block;
	transition-duration: 500ms;
}
.table{
	display: table;
	table-layout: fixed;
	width: 100%;
}
.table-cell{
	display: table-cell;
	vertical-align: middle;
}
/*header style start*/
.header-section{
	background:#ffcd35;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	z-index: 1;
}
.heder-right-menu{
	position: fixed;
	top: 0;
	right: -50%;
	bottom: 0;
	width: 50%;
	z-index: 3;

}
.max-menu{
	position: relative;
	float: left;
	width: 100%;
	background: #fff;
	padding: 100px 20px 50px;
	height: 100%;
}
.header-menu ul li{
	float: left;
}
.header-section .table .table-cell:last-child{
	width: 213px;
	text-align: right;
}
.header-section .table .table-cell:first-child{
	width: 136px;
	text-align: left;
}
.search{
	text-align: center;
	padding: 0 20px;
}
.header-top a{
	position: relative;
}
.header-top .notification{
	position: absolute;

}
.middle-tab .active a{
	border-bottom: 2px solid #ffcd35;
	color: #000;
}
.notification {
    width: 28px;
    height: 26px;
    padding: 5px;
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    background: #000;
    text-align: center;
    border-radius: 100%;
    top: -5px;
    right: -9px;
}
.notification span{
	color: #fff;
}
.header-menu ul li a{
	width: 40px;
	height: 40px;
	text-align: center;
	background-color: #ffcd35;
	font-size: 16px;
	
	color: #fff;
	line-height: 35px;

}
.middle-sub-menu{
	float: left;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	height: 100%;
	text-align: center;
}
.middle-navigation{
	width: 100%;
}
.middle-navigation ul li{
	margin-top: 30px;
}
.middle-navigation ul li:first-child{
	margin-top: 0;
}
.middle-navigation ul li a{
	font-size: 33px;
	line-height: 36px;
	color: #000;
}
.middle-sub-loga{
	margin-top: 50px;
}
.middle-sub-loga a{
	margin: 0 10px;
}
.mex-menu-sub {
    position: absolute;
    right: 30px;
    top: 50px;
}
.search-hide{
	position: relative;
	width: 100%;
	max-width: 666px;
	
	margin: 0 auto;

	

}
.search-hide input{
	background: none;
	border: 0;
	height: 60px;
	width: 100%;
}
.header-hide {
   
    width: 100%;
    max-width: 666px;
    margin: 0 auto;
    display: none;
   
   
}
.search-hide input[type="submit"] {
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -999em;
    border: 0;
    position: absolute;
    left: 9px;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translate(0, -50%);
}
.search-hide input[type="text"]{
	padding-left: 60px;
	border-radius: 10px;
	 background: #f2b90a;
	 font-size: 20px;
	 line-height: 22px;
	 color: #fff;
	 max-width: 666px;
	 width: 100%;
	 display: inline-block;
}
.search-hide input[type="text"],input[type="submit"]:focus{
	outline: none;
}
::placeholder{
	color: #fff;
}
.header-menu {
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
}
.header-top {
    display: inline-block;
    vertical-align: middle;
}
.header-menu ul{
	float: left;
	width: 100%;
	border:2px solid #fff;
	border-radius: 6px;
}
.header-menu ul li:first-child a{
	background:#fff;
	color:#ffcd35; 
}
.notification-down{
	max-width: 500px;
	position: absolute;
	background-color: #fff;
	padding: 30px 20px;
	right: 65px;
	border-radius: 6px;
	margin-top: 4px;
	display: none;
	z-index: 1;

}
.notification-down .btn{
	float: left;
	width: 100%;


}
.notification-down .btn a{
	background:#ffcd35;
	display: inline-block;
	width: 100px;
	width: 100%;
	color: #fff;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
}
.notification-full .table .table-cell:last-child{
	width: 75px;
	text-align: right;
} 
.notification-bottom .table .table-cell:first-child{
	width: 45px;
	text-align: left;
	

}
.header-left-menu {
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
}
.notification-bottom .table .table-cell:last-child{
	text-align: left;
	padding-left: 12px;
	width: auto;

}
.notification-down p{
	font-size: 16px;
	line-height: 18px;
}
.notification-down h6{
	font-size: 12px;
	line-height: 14px;
	color: #7c7c7c;
	margin-top: 5px;
}
.header-section .row{
	position: relative;
}
.notification-full{
	float: left;
	width: 100%;
	padding-top: 40px;

}
.notification-full:first-child{
	padding-top: 0;
}
.btn-following a{
	background: none;
	color: #545454;
}
.btn-following .rate{
	font-size: 20px;
	line-height: 22px;
	color: #fff;
	padding: 10px 4px;
	background: #ffcd35;
	font-weight: 600;
	border-radius: 5px;
}
.notification-down:before {
    content: "";
    border: 7px solid #fff;
    position: absolute;
    top: -13px;
    border-top: 7px solid transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    right: 10px;
}
/*middle style start*/
.middle-section{
	text-align: center;
	padding-top: 25px;
	padding-bottom: 120px;
	
}
.middle-section .row{
	position: relative;
	
}
.middle-btn{
	display: inline-block;
	max-width: 288px;
	width: 100%;
	margin: 0 auto;
}
.middle-right {
    position: absolute;
    right: 0;
}

.middle-btn a {
    font-size: 16px;
    line-height: 18px;
    background: #ffcd35;
    padding: 15px;
    float: left;
    width: 50%;
    color: #fff;
    font-weight: 600;
}
.middle-btn a:first-child{
	border-radius: 50px 0 0 50px;
}
.middle-btn a:last-child{
	border-radius: 0 50px 50px 0;
}
.middle-right a{
	background: #ffcd35;
	padding: 10px 12px;
	border-radius: 5px;
	padding-right: 10px;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	font-weight: 600;

}
.middle-right a:before {
    content: "+";
    font-size: 28px;
    font-weight: 400;
   
    vertical-align: middle;
    color: #fff;
    margin-right: 5px;
}
.middle-top {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
   
}
.middle-bottom {
    float: left;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}
.middle-tab ul li{
	display: inline-block;
	padding-right: 40px;
}
.middle-tab{
	text-align: left;
}
.middle-tab ul li a{
	padding-bottom: 20px;
	color: #7c7c7c;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}
.middle-box{
	float: left;
	width: 100%;
}
.middle-mrg{
	margin:-35px -15px 0 ;
}
.middle-bg{
	float: left;
	width: 25%;
	padding: 35px 15px 0;
}
.middle-img{
	position: relative;
	line-height: 1px;
}
.middle-img img{
	width: 100%;

}
.cut-bottom{
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.3);
	padding: 8px 8px ;
	position: absolute;
	bottom: 16px;
	right: 16px;
}
.cut{
	position: absolute;
	right: 16px;
	top: 16px;
}
.cut-bottom:hover{
	background: rgba(0, 0, 0, 0.6);
}
.middle-content a{
	
	font-size: 16px;
	line-height: 18px;
	color: #000;
	font-weight: 500;
}
.middle-content{
	text-align: left;
	margin-top: 10px;
}
.heart-left2:before{
	content: "";
	background: url(../images/chet.svg) no-repeat;
	width: 32px;
	height: 32px;
	background-size: 100%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
}
.heart-left{
	padding-right: 15px;
}
.heart-left:before{
	content: "";
	display: inline-block;
	background: url(../images/normal.svg) no-repeat;
	width: 32px;
	height: 32px;
	vertical-align: middle;
	margin-right: 6px;
}
.more-link{
	float: right;
	position: relative;
}
.more-link-hide{
	width: 114px;
	position: absolute;
	background: #fff;
	right: 0;
	padding: 10px;
	z-index: 3;
	display: none;
	border-radius: 5px;
}
.more-link-hide a{
	display: block;
	padding-top: 15px;
}
.more-link-hide a:hover{
	color: #ffcd35;
}
.more-link:hover .more-link-hide{
	display: block;
}
.heart-left:hover:before{
	background: url(../images/selected.svg) no-repeat;
	background-size: 100%;
}
.middle-end{
	text-align: left;
	float: left;
	width: 100%;
	margin-top: 15px;
}
.middle-end h6{
	font-size: 14px;
	line-height: 18px;
	color: #7c7c7c;
}
.middle-end a{
	
	color: #1e5fd6;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 1px;

}
.middle-end a:hover{
	text-decoration: underline;
}
.middle-end p{
	margin-top: 10px;
	font-size: 14px;
	line-height: 24px;
	color: #7c7c7c;
}
.middle-end a:hover{
	cursor: pointer;
}
.middle-end h6 a{
	padding-left: 4px;
	color: #7c7c7c;
}
.middle-end h6 a:hover{
	color: #000;
}
.post-sub-hide {
    position: relative;
    max-width: 666px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background: #fff;
    padding: 30px;
    float: left;
    margin: 100px 0;

    border-radius: 10px;

}
.post-hide {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 99999;
    display: none;
    background: #fff;
   

}
textarea,input[type="text"]:focus{
	outline: 0;
}
.post-btn h3{
	float: left;
	font-size: 24px;
	line-height: 28px;
	color: #000;
	font-weight: 500;
}
.post-btn a{
	float: right;
}
.post-btn{
	float: left;
	width: 100%;
}
.post-tabing ul li{
	display: inline-block;
}
.post-tabing ul{
	display: flex;
	justify-content: space-around;
}
.post-tabing {
    float: left;
    width: 100%;
}
.post-tabing ul li a{
	padding: 24px 5px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	border-bottom:2px solid transparent;
}
.post-tabing ul li.active a{
	border-bottom: 2px solid #ffcd35;
}
.post-content h4{
	font-size: 14px;
	line-height: 16px;
	color: #000;
	display: inline-block;
}
.post-content a{
	font-size: 14px;
	line-height: 16px;
	color: #ff5a3b;
	float: right;
}
.post-bottom .table .table-cell:first-child{
	width: 90px;
	text-align: left;

}
.post-bottom .table .table-cell:last-child{
	width: auto;
	padding-left: 20px;
	text-align: left;
}
.post-process span {
    display: block;
    background: #ffcd35;
   
    height: 2px;
    border-radius: 3px;
}
.post-process:before {
    content: "";
    display: inline-block;
    position: absolute;
    background: #dcdcdc;
    height: 2px;
    width: 100%;
    z-index: -1;
}
.post-process p{
	margin-top: 10px;
	font-size: 12px;
	line-height: 14px;
	color: #000;
}
.post-process {
	float: left;
	width: 100%;
	margin-top: 20px;
	position: relative;
}
.repeat{
	float: left;
	width: 100%;
	margin-top: 15px;
}
.repeat:first-child{
	margin-top: 0;
}
.crop-image {
    float: left;
    width: 100%;
    margin-top: 30px;
}
.img-c {
    display: inline-block;
    padding: 10px;
}
.crop-section {
    float: left;
    width: 100%;
   
}

.crop-box {
    background: url(../images/img.svg) no-repeat center;
    width: 240px;
    height: 240px;
    border: 1px dashed  #dcdcdc;
    display: inline-block;
    margin-top: 40px;
}
.canvas{
	float: left;
	width: 100%;
}
.canvas-text{
	position: relative;
	max-width: 300px;
	display: flex;
	align-items: center;
	width: 100%;
	background: #ffcd35;
	height: 50px;
	margin: 0 auto;
}
.canvas-upload{
	float: left;
	width: 100%;
	margin-top: 40px;
	text-align: center;
}
.canvas-text p{
	font-size: 24px;
	line-height: 26px;
	color: #fff;
	width: 100%;
}
.canvas-text input[type="file"]{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
}
.canvas-btn{
	width: 100%;
	display: inline-block;
	margin-top: 50px;
	max-width: 216px;
	width: 100%;
}
.canvas-btn a{
	font-size: 20px;
	line-height: 22px;
	padding: 20px;
	max-width: 216px;
	width: 100%;
	background: #ffcd35;
	color: #fff;
	border-radius: 8px;
}
.discription-fom {
    float: left;
    width: 100%;
    padding-top: 20px;
}
.discription-fom label{
	display: block;
	text-align: left;
	padding-bottom: 10px;
	color: #7c7c7c;
}
.discription-box{
	margin-top: 20px;
	float: left;
	width: 100%;
}
textarea {
    width: 100%;
    height: 128px;
    resize: none;
    overflow: hidden;
    border:0;
    padding: 15px;
    background: none;
}
.discription-box input[type="text"]{
	width: 100%;
	height: 45px;
	color: #000;
	border-radius: 8px;
	border:0;
	padding: 10px;

}
.discriptio-box::placeholder{
	color: #000;
}
.post-tabing ul li a{
	color: #7c7c7c;
}
.post-tabing ul li a.active{
	color: #000;
}
.repeat h5{
	position: relative;
	display: inline-block;
	float: left;
	color: #1e5fd6;
}
.repeat input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}
.repeat-btn{
	float: left;
	width: 100%;
	margin-top: 30px;
}
.repeat-btn a {
    color: #fff;
    background: #ffcd35;
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    font-size: 20px;
   
    text-align: center;
    display: inline-block;
    max-width: 200px;
    transition-duration: 500ms;
}

.repeat-btn a:hover {
    background: #f2b90a;
}
.check-box{
	float: left;
	width: 100%;
}
.check-box label{
	display: inline-block;
}
.check-bg{
	float: left;
	position: relative;
	width: 90px;
}
.check-bg input[type="checkbox"]{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
}
.check-bg  input[type="checkbox"] + label:before{
	background: url(../images/checkbox.svg) no-repeat;
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	padding-right: 8px;
}
.check-bg input[type="checkbox"]:checked + label:before{
	background: url(../images/checkbox-active.svg) no-repeat;
}
.check-btn a {
    color: #fff;
    background: #ffcd35;
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    font-size: 20px;
   
    text-align: center;
    
    max-width: 164px;
}
.check-btn a:last-child{
	background: #f2f2f2;
	margin-left: 10px;
	color: #545454;
}
.check-btn {
	text-align: left;
}
.border {
    border: 1px solid #7c7c7c;
    border-radius: 8px;
}
.header-popup{
	position: absolute;
	left: 0;
	right: 0;
	max-width: 666px;
	display: none;
	background: #fff;
	

}
a#hide {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translatey(-50%);
    line-height: 1px;
    display: none;
}

.header-space{
	float: left;
	width: 100%;
	padding: 30px 24px;
}
.header-space .table .table-cell:last-child{
	width: 160px;
	text-align: right;
}
.header-space .table .table-cell:first-child{
	width: auto;
}
.header-space span{
	color: #545454;
	font-size: 12px;
	line-height: 14px;
}
.choice-btn a{
	 color: #fff;
    background: #ffcd35;
    width: 100%;
    padding: 9px;
    border-radius: 4px;
    font-size: 20px;
   
    text-align: center;
    
    max-width: 152px;
}
.popup-tabing ul li{
	display: inline-block;
	padding: 0 18px;
}
.popup-tabing ul li.active a{
	border-bottom: 2px solid #ffcd35;
	color: #000;
}
.popup-tabing ul li a{
	padding-bottom: 15px;
	border-bottom: 1px solid transparent;
	color: #7c7c7c;
	font-size: 16px;
	line-height: 18px;
}
.popup-tabing {
    float: left;
    width: 100%;
}
.post-box {
    float: left;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}
.post-bg .table .table-cell:first-child{
	width: 80px;
	text-align: left;
}
.post-bg .table .table-cell:last-child{
	width: auto;
	padding-left: 15px;
}
.post-bg p{
	font-size: 14px;
	line-height: 24px;
	color: #7c7c7c;
}
.post-bg p a{
	color: #1e5fd6;
}
.post-bg h4 a{
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
	color: #000;
}
.post-bg h4{
	color: #7c7c7c;
}
.post-bg{
	float: left;
	width: 100%;
	margin-top: 45px;
}
.post-bg:first-child{
	margin-top: 0;
}
.check-bg input[type="checkbox"]{
	height: auto;
}
.style-box .table .table-cell:first-child{
	width: 40px;
	text-align: left;
}
.style-box .table .table-cell:last-child{
	width: auto;
	text-align: left;
	padding-left: 15px;
}
.style-section{
	float: left;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
}
.style-box,.hastag-box{
	float: left;
	width: 100%;
	margin-top: 32px;
}
.style-box:first-child,.hastag-box:first-child{
	margin-top: 0;
}
.hasteg-section .table .table-cell:first-child{
	width: 50px;
}
.hasteg-section .table .table-cell:last-child{
	width: auto;
	text-align: left;
	padding-left: 15px;
}
.hasteg-section {
    float: left;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}
.hastag-border {
    width: 48px;
    height: 48px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    border-radius: 100%;
    text-align: center;
}
.width {
    margin: 0 auto;
    line-height: 1px;
}
.hastag-box h5{
	font-size: 16px;
	line-height: 18px;
	color: #000;
}
.hastag-box h6{
	color: #545454;
	font-size: 12px;
	line-height: 16px;
	margin-top: 6px;
}
/*.footer style syat*/
.footer-section{
	padding-top: 70px;
	padding-bottom: 70px;
	background: url(../images/footer.jpg) no-repeat;
	background-size: cover;
	text-align: center;
}
.footer-section ul li{
	display: inline-block;
	padding: 0 20px;
}
.footer-section ul li a{
	font-size: 14px;
	line-height: 16px;
	color: #000;
	float: left;

}
.post-bottom{
	float: left;
	width: 100%;
	margin-top: 30px;
}
.post-img{
	line-height: 1px;
}
.footer-section ul li a:hover{
	color: #767676;
}
.footer-loga{
	float: left;
	width: 100%;
	padding-top: 30px;
}
.footer-loga a{
	margin: 0 10px;
}
.footer-loga a:hover{
	opacity: 0.7;
}
.post-bg .table .table-cell:last-child{
	text-align: left;
}
.middle-navigation ul li a:hover{
	color: #ffcd35;
}

/*responsiv style start*/
@media(max-width: 1023px){
	
	
.header-menu {
   
    padding-right: 10px;
}
.search{
	padding: 0 10px;
}

.header-left-menu{
	padding-left: 10px;
}
.middle-bg {
    float: left;
    width: 25%;
    padding: 25px 10px 0;
}
.middle-mrg {
    margin: -25px -10px 0;
}
.middle-end {
  
    margin-top: 10px;
}
.middle-end p {
   
    font-size: 13px;
    line-height: 24px;
   
}
.middle-end a {
   
    font-size: 14px;
    line-height: 16px;
 
}
.middle-section{
	padding-bottom: 60px;
}
.footer-section{
	padding-top: 50px;
	padding-bottom: 50px;
}
.header-space .table .table-cell:first-child {
    width: auto;
}
.header-space .table .table-cell:last-child {
    width: 129px;
  
}
.choice-btn a {
   
    padding: 7px;
    border-radius: 4px;
    font-size: 18px;
  
}
.check-bg{
	width: 74px;
}
.header-space {
    
    padding: 20px 20px;
}
.post-bg .table .table-cell:last-child{
	text-align: left;

}

.post-bg{
	margin-top: 20px;
}
}
@media(max-width: 979px){
	.choice-btn a {
    padding: 10px;
   
    font-size: 13px;
}
.header-space .table .table-cell:last-child {
    width: 104px;
}
.post-bg p {
    font-size: 12px;
    line-height: 20px;
    color: #7c7c7c;
}
.post-bg .table .table-cell:first-child{
	width: 70px;
	line-height: 1px;
}
.post-bg h4 a {
    font-size: 14px;
    line-height: 16px;
   
}
.middle-bg{
	width: 50%;
}
.middle-bottom{
	padding: 20px 0; 
}
.footer-section{
	padding-top: 40px;
	padding-bottom: 40px;
}
.footer-section ul li {
   
    padding: 0 12px;
}
.post-sub-hide{
	padding: 20px;
}
.notification-full {
   
    padding-top: 25px;
}

.notification-down p {
    font-size: 14px;
    line-height: 18px;
}
.notification-down .btn a {
	max-width: 100px;
	width: 100%;
}
.notification-full .table .table-cell:last-child {
    width: 52px;
    text-align: right;
}
.notification-bottom .table .table-cell:last-child{
	width: auto;
	text-align: left;
}
.post-bg h4 {
 
    font-size: 14px;
    line-height: 16px;
}

.check-bg input[type="checkbox"] + label:before{
	padding-right: 4px;
}
.header-popup{
	max-width: none;
}
.check-bg {
    width: 71px;
}

}
@media(max-width: 767px){
	.search-hide {
    position: absolute;
    width: 100%;
    max-width: none;
  top: 55px;
    left: 0;
    right: 0;
}
.search-hide input[type="text"]{
	max-width: none;
}
.search-hide input {
    background: none;
    border: 0;
    height: 35px;
   
}
.search-hide input[type="submit"]{
	background-size: 100%;
	height: 25px;
	width: 25px;
	left: 25px;
}
.header-hide{
	display: block;
}
.i{
	display: none;
}
.header-section{
	height: 120px;
}
.header-menu{
	display: none;
}
.header-space{
	display: none;
}
.popup-tabing {
    float: left;
    width: 100%;
    padding-top: 30px;
}
.middle-top{
	display: flex;
	flex-direction: column;
}
.middle-right{
	position: inherit;
	margin-top: 15px;
}
.footer-section ul li a{
	margin-top: 10px;
	width: 100%;
}
.heder-right-menu{
	right: -100%;
	width: 100%;
}

}
@media(max-width: 479px){
	.middle-bg{
		width: 100%;
		padding: 0 0 20px 0;
	}
	.middle-mrg {
    margin: 0;
}
.footer-section ul li{
	float: left;
	width: 100%;
}

.crop-image{
	margin-top: 20px;
}
.canvas-upload {
	margin-top: 20px;
}
.middle-tab ul li a{
	padding-bottom: 10px;
}

.footer-section {
    padding-top: 20px;
    padding-bottom: 20px;
}
.header-section .table .table-cell:last-child {
    width: 191px;
    text-align: right;
}
.post-bg .table .table-cell:last-child{
	text-align: left;
}
.hastag-box .table .table-cell:last-child{
	text-align: left;
}
.hasteg-section .table .table-cell:first-child {
    width: 38px;
}
.style-box .table .table-cell:last-child{
	text-align: left;
}
.style-box .table .table-cell:first-child {
    width: 30px;
    text-align: left;
}
.logo{
	width: 108px !important;
}
.middle-section {
    padding-bottom: 20px;
}

}